
@{
    ViewBag.Title = "Admin";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

@section feature
{
    <div class="container" style="background-color:#ffffff">
        <div class="row">
            <div class="col-sm-6 col-12 col-xl-3 col-lg-4 col-md-6 p-3">
                <div class="card" style="width: 18rem;border-color:green">
                    <div class="card-body">
                        <h5 class="card-title">Tài khoản</h5>
                        <p class="card-text">Quản lý tài khoản khách hàng</p>
                        <p class="card-text">Phân quyền: Admin,...</p>
                        <a href="#" class="btn btn-success">Tới trang quản lý</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-12 col-xl-3 col-lg-4 col-md-6 p-3">
                <div class="card" style="width: 18rem;border-color:green">
                    <div class="card-body">
                        <h5 class="card-title">Tài khoản</h5>
                        <p class="card-text">Quản lý tài khoản khách hàng</p>
                        <p class="card-text">Phân quyền: Admin,...</p>
                        <a href="#" class="btn btn-success">Tới trang quản lý</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-12 col-xl-3 col-lg-4 col-md-6 p-3">
                <div class="card" style="width: 18rem;border-color:green">
                    <div class="card-body">
                        <h5 class="card-title">Tài khoản</h5>
                        <p class="card-text">Quản lý tài khoản khách hàng</p>
                        <p class="card-text">Phân quyền: Admin,...</p>
                        <a href="#" class="btn btn-success">Tới trang quản lý</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-12 col-xl-3 col-lg-4 col-md-6 p-3">
                <div class="card" style="width: 18rem;border-color:green">
                    <div class="card-body">
                        <h5 class="card-title">Tài khoản</h5>
                        <p class="card-text">Quản lý tài khoản khách hàng</p>
                        <p class="card-text">Phân quyền: Admin,...</p>
                        <a href="#" class="btn btn-success">Tới trang quản lý</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-12 col-xl-3 col-lg-4 col-md-6 p-3">
                <div class="card" style="width: 18rem;border-color:green">
                    <div class="card-body">
                        <h5 class="card-title">Tài khoản</h5>
                        <p class="card-text">Quản lý tài khoản khách hàng</p>
                        <p class="card-text">Phân quyền: Admin,...</p>
                        <a href="#" class="btn btn-success">Tới trang quản lý</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-12 col-xl-3 col-lg-4 col-md-6 p-3">
                <div class="card" style="width: 18rem;border-color:green">
                    <div class="card-body">
                        <h5 class="card-title">Tài khoản</h5>
                        <p class="card-text">Quản lý tài khoản khách hàng</p>
                        <p class="card-text">Phân quyền: Admin,...</p>
                        <a href="#" class="btn btn-success">Tới trang quản lý</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-12 col-xl-3 col-lg-4 col-md-6 p-3">
                <div class="card" style="width: 18rem;border-color:green">
                    <div class="card-body">
                        <h5 class="card-title">Tài khoản</h5>
                        <p class="card-text">Quản lý tài khoản khách hàng</p>
                        <p class="card-text">Phân quyền: Admin,...</p>
                        <a href="#" class="btn btn-success">Tới trang quản lý</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-12 col-xl-3 col-lg-4 col-md-6 p-3">
                <div class="card" style="width: 18rem;border-color:green">
                    <div class="card-body">
                        <h5 class="card-title">Tài khoản</h5>
                        <p class="card-text">Quản lý tài khoản khách hàng</p>
                        <p class="card-text">Phân quyền: Admin,...</p>
                        <a href="#" class="btn btn-success">Tới trang quản lý</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-12 col-xl-3 col-lg-4 col-md-6 p-3">
                <div class="card" style="width: 18rem;border-color:green">
                    <div class="card-body">
                        <h5 class="card-title">Tài khoản</h5>
                        <p class="card-text">Quản lý tài khoản khách hàng</p>
                        <p class="card-text">Phân quyền: Admin,...</p>
                        <a href="#" class="btn btn-success">Tới trang quản lý</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-12 col-xl-3 col-lg-4 col-md-6 p-3">
                <div class="card" style="width: 18rem;border-color:green">
                    <div class="card-body">
                        <h5 class="card-title">Tài khoản</h5>
                        <p class="card-text">Quản lý tài khoản khách hàng</p>
                        <p class="card-text">Phân quyền: Admin,...</p>
                        <a href="#" class="btn btn-success">Tới trang quản lý</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-12 col-xl-3 col-lg-4 col-md-6 p-3">
                <div class="card" style="width: 18rem;border-color:green">
                    <div class="card-body">
                        <h5 class="card-title">Tài khoản</h5>
                        <p class="card-text">Quản lý tài khoản khách hàng</p>
                        <p class="card-text">Phân quyền: Admin,...</p>
                        <a href="#" class="btn btn-success">Tới trang quản lý</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-12 col-xl-3 col-lg-4 col-md-6 p-3">
                <div class="card" style="width: 18rem;border-color:green">
                    <div class="card-body">
                        <h5 class="card-title">Tài khoản</h5>
                        <p class="card-text">Quản lý tài khoản khách hàng</p>
                        <p class="card-text">Phân quyền: Admin,...</p>
                        <a href="#" class="btn btn-success">Tới trang quản lý</a>
                    </div>
                </div>
            </div>
        </div>
    </div>    
}

